@import "tailwindcss";

@theme {
    --color-background: #000000;
    --color-foreground: #ffffff;

    --color-card: #0e0e0e;
    --color-card-light: oklch(25.5% 0 0);

    --color-border-light: #1e1e1e;
    --color-border-dark: #0f0f0f;
    --color-border-muted: #737373;

    --color-text-secondary: #a3a3a3;
    --color-text-muted: #737373;

    /* Accent Colors (Pink) */
    --color-accent-dark: oklch(59.1% 0.293 322.896);
    --color-accent-light: oklch(71.8% 0.202 349.761);

    /* Status Colors */
    --color-status-running: #4ade80; /* Green-400 */
    --color-status-idle: #facc15; /* Yellow-400 */
    --color-status-error: #ff5757; /* Red-400 */
}

/* @media (prefers-color-scheme: dark) {
    @theme {
        --background: #000000;
        --foreground: #ededed;
        --card-bg: #0e0e0e;
        --border: #1a1a1a;

        --text-secondary: #a3a3a3;
        --text-muted: #737373;
        --bg-hover-secondary: #1a1a1a;
    }
} */

body {
    font-family: "Bahnschrift", Helvetica, sans-serif;
}
